extends layout

block content
  h1= NuevaMatricula
  p Alta de nueva asignatura
  form(id="newAsignatura")
    h1.border-bottom Nueva Asignatura
    div.form-group
        label(for="nombre") Nombre:
        input.form-control(id="name" name="name" type="text")
    div.form-group
      label(for="apellido") Apellido:
      input.form-control(id="apellido" name="apellido" type="text")
    div.form.group
    label(for="materia") Materia:
      input(type='checkbox' name='agreement' checked) Javascript
      input(type='checkbox' name='agreement' checked) Servidor Web
      input(type='checkbox' name='agreement' checked) Aplicaciones Web
  input(type="submit")

